body {
  font-family: 'Merriweather', serif;
  color: #333;
  font-weight: 400;
}

// Headings

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: #222;
}
h2 {
   color: #444;
}

// Links

a {
  text-decoration: none;
  &:visited {
    color: #333; 
  }
}